*{
  margin: 0px;
  padding: 0px;
}

body{
  text-align: center;
}

.navegador{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
}

.navegador li{
 float: left;
}

.navegador li a{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Pridi', serif;
  font-size: 26px;
}

.navegador li a:hover{
  background-color: white;
}

h1{
  text-align: center;
  padding-top: 10%;
  font-size: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.contenedor{
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 30vw;
  background-image: url(./img/cabecera.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-top: 10px;
}

.wave{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-image: url(./img/wave.png);
  background-size: 1000px 100px;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position: 1000px;
  }
}

#datos{
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4,23%);
  justify-content: space-around;
}

.nota{
  background-image: url(/img/hoja.jpg);
  background-size: cover;
  border: 1px solid rgb(47, 47, 47);
  border-radius: 10px;
}

.nota h3{
  font-family: 'Scada', sans-serif;
  text-align: center;
  padding: 2% 0%;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
  font-size: 30px;
}

#nota1{
  background: rgba(255, 247, 100, 0.7);
}

#nota2{
  background: rgba(255, 192, 76, 0.7);
}

#nota3{
  background: rgba(255, 131, 152, 0.7);
}

#nota4{
  background:rgba(255, 105, 185, 0.7);
}

.nota p{
  font-family: 'Scada', sans-serif;
  margin: 4% 3%;
  font-size: 25px;
  text-align: center;
}
/* ------Subtitulos de secciones-------- */
h2{
  font-size: 55px;
  position: relative;
  display: inline-block;
  margin: 2% 0%;
}

h2::after,h2::before{
  content: ' ';
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: black;
  top: 0.6em;
}

h2:before{
  left: -210px;
}

h2:after{
  right: -210px;
}
/* --------Efecto ola----------- */
.reves{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-image: url(./img/reves.png);
  background-size: 1000px 100px;
  animation: wave 11s linear infinite;
  position: inherit; 
}
/*---------seccion turismo------ */
#turismo{
  background-image: linear-gradient( 135deg, #fff98d 10%, #FD6585 100%);
}

.wave-2{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  margin-top: 3%;
  background-image: url(./img/wave.png);
  background-size: 1000px 100px;
  animation: wave 11s linear infinite;
  position: inherit; 
}
/* ------contenido de turismo------ */
.contenido{
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3,30%);
  grid-template-rows: repeat(3,auto);
  justify-content: space-around;
}

.casillero-imagen img{
  width: 100%;
}

.casillero-imagen{
  background: rgb(245, 243, 238);
  margin: 1% 1%;
  padding: 10px 10px 25px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
} 

.casillero-imagen:hover{
  z-index: 5;
  transform: scale(1.2);
  box-shadow:0px 6px 9px rgb(67, 67, 67); 
}

.texto p{
  font-family: 'Pridi', serif;
  font-size: 25px;
}

.texto .subtitulo{
  margin: 3% 0%;
  font-size: 30px;
}

.texto span{
  background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
  border: 1px solid rgba(255, 255, 255, 0.709);
  border-radius: 100%;
  padding: 5px 20px;
  margin: 0% 2% 0% -5%;
  font-size: 25px;
}

/* -----seccion tradiciones------- */
.info{
  margin: 2%;
  border: 1px solid rgb(255, 255, 255) ;
  width: 95%;
  height: auto;
  background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
  border-radius: 10px;
}

.info img{
  border-radius: 5px;
  width: 30%;
  height: 20%;
  margin: 4% 0% 4% 2%;
  border: 1px solid rgba(255, 255, 255, 0.789);
}

.info h3{
  margin-top: 2%;
  font-size: 38px;
}

/* dentro de la caja info */
.tradicion{
  display: flex;
}

.tradicion p{
  margin: 1% 2%;
  font-family: 'Pridi', serif;
  background-color: rgb(255, 255, 255,0.5);
  padding: 1%;
  font-size: 22px;
  
}

footer{
  background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
  margin-top: 5%;
  padding: 3% 0%;
  font-size: 20px;
}

@media (max-width:768px) {

  h1{
    font-size: 30px;
  }

  .navegador li{
    padding: 1% 1%;
  }

  .navegador li a{
    font-size: 16px;
    padding: 9px 0px 9px 6px;
  }
  
  h2{
    font-size: 30px;
    margin: 2% 0%;
  }

  #datos{
    width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2,45%);
    justify-content: space-around;
  }

  .nota h3{
    font-size: 20px;
  }

  .nota p{
    font-size: 16px;
  }

  .texto .subtitulo{
    font-size: 20px;
  }
  .texto span{
    padding: 4px 14px;
    font-size: 18px;
  }

  .texto p{
    font-size: 18px;
  }

/* responsivo de turismo */
  .info img{
    border-radius: 5px;
    width: 70%;
    margin: 2% 0%;
  }
  .info h3{
    font-size: 20px;
  }
  .tradicion p{
    margin: 4% 3%;
    font-size: 17px;
  }
  .tradicion {
    display: inline;
  }
  .contenido{
    display: grid;
    grid-template-columns: repeat(1,85%); 
   }

   h2::before,h2::after{
    width: 30px;
  }

  h2:before{
    left: -35px;
  }
  
  h2:after{
    right: -35px;
  }

  .wave{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }
  .wave-2{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }
  .reves{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }

  footer{
    font-size: 15px;
  }
}

@media (max-width:320px) {
  
  h1{
    font-size: 30px;
  }

  .navegador li{
    padding: 1% 1%;
  }

  .navegador li a{
    
    font-size: 15px;
    padding: 10px 0px 10px 6px;
  }
  .wave{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }
  .wave-2{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }
  .reves{
    height: 25px;
    width: 100%;
    background-size: contain;
    animation: wave 15s linear infinite;
  }
  
  h2::before,h2::after{
    width: 30px;
  }

  h2:before{
    left: -35px;
  }
  h2:after{
    right: -35px;
  }

  #datos{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(1,90%);
    justify-content: space-around;
  }

  .nota p{ 
    font-size: 13px;
  }

  .contenido{
   display: grid;
   grid-row-gap: 20px;
   grid-template-columns: repeat(1,88%);
  }

  .texto span{
    padding: 4px 12px;
    font-size: 14px;
  }

  .tradicion p{
    font-size: 13px;
  }

  .info h3{
    font-size: 15px;
  }
}